    <link rel="canonical" href="{{ site.baseurl }}" />
    <meta name="referrer" content="origin" />
    <link rel="next" href="{{ site.baseurl }}page2/" />

    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:image" content="{{ site.baseurl }}assets/images/cover1.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:url" content="{{ site.baseurl }}" />
    <meta name="twitter:image:src" content="{{ site.baseurl }}assets/images/cover1.jpg" />

    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "CNE",
    "url": "{{ site.baseurl }}",
    "image": "{{ site.baseurl }}assets/images/cover1.jpg",
    "description": "{{ site.description }}"
}
    </script>

    <meta name="generator" content="Jekyll 3.0.0" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}rss.xml" />
